/* util */
.hidden {
  display: none;
}

.input-field-icon {
  width: 100%;
  max-width: 37.5rem;
}
.slides {
  position: relative;
  margin: 1rem auto;
}
.slide img {
  height: 100%;
}

.btn-right,
.btn-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.btn-right {
  right: 1rem;
}
.btn-left {
  left: 1rem;
}
.dot-container {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 0.5rem;
}
.dot-container .dot {
  background: var(--grey-color);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.dot.active {
  background: var(--black-color);
}

/* categories */
.categories-container {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.categories-tab {
  display: none;
  order: 1;
  width: 100%;
}

.categories-container input {
  display: none;
}

.categories-container label {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  margin-bottom: 1rem;
}

.categories-container input:checked + label {
  background: var(--primary-color-light);
  border-bottom: 2px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
}

.categories-container input:checked + label + div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.categories-name {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}
.categories-name label {
  font-weight: bold;
}
.image-card {
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding: 0.5rem;
}
.image-card img {
  aspect-ratio: 1/1;
}

/* banner */
.banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
}

/* testimonial */

.testimonial-container {
  position: relative;
  margin-bottom: 3rem;
}
.testimonial {
  max-width: 37.5rem;
  margin: auto;
  text-align: center;
  padding: 2rem 3rem;
}
.testimonial p.testimonial__text {
  margin-bottom: 1rem;
}
.testimonial p.testimonial__text::first-letter {
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1rem;
}
.testimonial .avatar {
  margin: auto;
}
/* footer */

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.5fr;
  background: var(--primary-color-dark);
  padding: 5rem;
  color: var(--white-color);
}

.input-field-icon {
  background: var(--white-color);
}

.footer-col h3 {
  margin-bottom: 1rem;
}

.footer-col p {
  color: var(--grey-color);
  margin: 0.5rem auto;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
}
.footer-col:not(.flex) p:hover {
  color: var(--white-color);
  transform: translateX(0.5rem);
  cursor: pointer;
}
