.card.product-detail {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 19rem;
  box-shadow: none;
}
.product-detail .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail .image img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.main {
  width: 100%;
  max-width: 56.25rem;
  margin: 1rem auto;
  padding: 1rem;
}
.styled-list.ordered li {
  background: none;
}
.rating .fa-star {
  color: var(--yellow-color);
}
