@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

a {
  cursor: pointer;
}
.nav-bar {
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--white-color);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.brand__logo {
  font-size: 1.5rem;
  padding-right: 1rem;
  color: var(--primary-color-dark);
  border-right: 2px solid var(--primary-color-dark);
}

.brand__text {
  letter-spacing: 0.5rem;
  color: var(--primary-color-dark);
  font-weight: bold;
  font-family: 'Quintessential', cursive;
}
.input-field-icon {
  width: 100%;
  max-width: 20rem;
}

.nav-bar .profile-item {
  position: relative;
  cursor: pointer;
}
.nav-bar .profile-item:hover .profile-item-dropdown {
  display: block;
}

.profile-item-dropdown {
  position: absolute;
  top: 3rem;
  right: 0;
  display: none;
  padding: 0.5rem 1rem;
  z-index: 2;
  width: 10rem;
  text-align: center;
  background: var(--off-white-color);
}
.profile-item-dropdown button {
  margin: auto;
  margin-bottom: 0.5rem;
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-top: 0.5rem;
}

.profile-item-dropdown ul li {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 0.5px solid var(--grey-color);
}
.profile-item-dropdown ul li:hover,
.profile-item-dropdown ul li:active {
  background: var(--primary-color-light);
}
/* footer */

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.5fr;
  background: var(--primary-color-dark);
  padding: 5rem;
  color: var(--white-color);
}

.input-field-icon {
  background: var(--white-color);
}

.footer-col h3 {
  margin-bottom: 1rem;
}

.footer-col p {
  color: var(--grey-color);
  margin: 0.5rem auto;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
}
.footer-col:not(.flex) p:hover {
  color: var(--white-color);
  transform: translateX(0.5rem);
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10rem;
  }
  .footer .footer-col:last-child {
    grid-column: 1 / -1;
    margin-top: 2rem;
  }
}
