.main {
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
}
.wishlist {
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, auto));
  gap: 1.5rem;
  grid-auto-flow: row dense;
  margin-top: 1rem;
}
@media only screen and (max-width: 450px) {
  .main {
    margin: auto;
    padding: 2rem;
  }
  .wishlist {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
