.main {
  width: 100%;
  max-width: 56.25rem;
  margin: 2rem auto;
}
.wishlist {
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, auto));
  gap: 1.5rem;
  grid-auto-flow: row dense;
  margin-top: 1rem;
}
.card.ecom .badge {
  margin: 0;
}
.card.ecom .btn-dismiss {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  background: var(--off-white-color);
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--grey-color);
  transition: all 0.1s ease-in-out;
}

.card.ecom .btn-dismiss:hover {
  background: #e5eaec;
  color: var(--primary-color);
}
@media only screen and (max-width: 450px) {
  .main {
    margin: auto;
    padding: 2rem;
  }
  .wishlist {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
